#lataimg {
    height: 20em;
    width: 20em;
    cursor: pointer;
}
#bt_container {
    margin-top: 5%;
    height: 16em;
    width: 20em;
}
#play {
    align-content: center;
    background-color: #00bac6;
    color: darkred;
    height: 10em;
    width: 10em;
}
.hide{
    display: none;
}
@keyframes startMove {
    to {
        margin-top: 90%;
    }
}
#container_lata {
    margin-top: 10%;
    text-align: center;
}
.move1 {
    animation-name: startMove;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}